body {
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0; 
}

.container {
    background-color: #3a3a3a;
    padding: 20px; 
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 80%; 
    max-width: 400px; 
    margin: 20px; 
}

.player {
    margin: 15px; 
}

h1 {
    font-size: 36px; 
    font-family: "Old English", Arial, sans-serif;
    color: #800000;
    margin-bottom: 20px; 
}

h2 {
    font-size: 24px; 
    color: #800000;
    margin-bottom: 15px; 
}

button {
    font-size: 24px; 
    background-color: #800000;
    color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #5a0000;
}

span {
    display: inline-block;
    font-size: 36px; 
    color: #000;
    margin: 0 15px; 
}

.dice-container {
    margin-top: 20px;
    text-align: center;
}

.dice {
    font-size: 48px;
    background-color: #800000;
    color: #f0f0f0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 10px auto;
}

#roll-dice-button {
    font-size: 24px;
    background-color: #800000;
    color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    margin: 10px auto;
}